<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Resultados de Búsqueda</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/resultados.css}">

  <!-- Path to jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>

  <!-- Path to Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
          integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
          crossorigin="anonymous"></script>

  <!-- Path to bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
          integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
          crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<main class="main">
  <div class="contenedor-main">
    <h1>Resultados</h1>
    <form th:action="@{/buscar-usuarios}" method="get" accept-charset="UTF-8" class="form">
      <input type="text" th:value="${query}" class="form-control pl-3" placeholder="Buscar personas" name="query">
      <input type="submit" value="Buscar" class="button">
    </form>

    <div class="contenedor">
      <div th:if="${error} != null" class="alert alert-danger">
        <p><strong>Error:</strong> <span th:text="${error}"></span></p>
      </div>
      <div th:if="${listadoUsuarios} != null">
        <article class="persona" th:each="persona : ${listadoUsuarios}">
          <figure class="d-flex">
            <div class="col-xs-7 col-md-9 info">
              <figcaption>
                <div>
                  <h3 th:text="${persona.getNombre()}"></h3>
                  <p>Nombre de usuario: <span th:text="${persona.getNombreUsuario()}"></span></p>
                </div>
                <div class="col-xs-12 text-right">
                  <form th:action="@{/perfil/{id}(id=${persona.getId()})}" method="get">
                    <input type="hidden" th:name="id" th:value="${persona.getId()}" />
                    <button type="submit" class="btn btn-primary">Ver Perfil</button>
                  </form>
                </div>
              </figcaption>
            </div>
          </figure>
        </article>
      </div>
    </div>
  </div>
</main>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
